{% load static %}
    <div class="talk">{% autoescape off %}
        <div class="talk_item">
{%          if talk.site != "/" %}
            <a href="{{ talk.site }}">
{%          endif %}
                <span class="speaker">{{ talk.speaker }}</span>
{%          if talk.site != "/" %}
            </a>
{%          endif %}
            <span>-</span>
            <span class="title">{{ title }} </span>
            <span style="width:2em;"></span>
{%          if talk.slide != "/" %}
            <a href="{{ talk.slide }}">
                <img src="{% static 'programme/images/slides.png' %}" style="vertical-align:middle;height:1.5em;", alt="slides"/>
            </a>
{%          endif %}
{%          if talk.video != "/" %}
            <a href="{{ talk.video }}">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
            </a>
{%          endif %}
{%          if date %}
                </br>
                <span class="date">{{ date|date:"d M Y" }}</span>
                <span class="conference">At <i>{{ place }}</i></span>
{%          endif %}

        </div>

        <input type="checkbox" class="btnCtrl" id="talk{{ talk.id }}"/>
        <label class="btn display-status" for="talk{{ talk.id }}">
            <i class="fa fa-plus-circle plus"></i>
            <i class="fa fa-minus-circle minus"></i>
        </label>
        <div class="description">
            <div class="summary">
                {{ desc }}
            </div>
            <div class="details">
                {{ abstract }}
            </div>
        </div>{% endautoescape %}
    </div>
