{% load static %}


<article class="inner-text">
    <header class="entry-header">
        <h1 class="entry-title">About the seminar</h1>
    </header>

    <div class="entry-content">
	<p>
        This seminar aims to increase the links between the different laboratories in Saclay in the field of Applied Maths, Statistics and Machine Learning. The Seminar is organized every first Tuesday of the month with 2 presentations followed by a small refreshment. The localization of the seminar will change to accommodate the different labs.
    </p>
    <h3>Organization</h3>
    <p>
        Due to access restriction, you need to register for the seminar. A link is provided in the description and should also be sent with the seminar announcement. It will also help us organize for the food quantities. If you think you will come, please register! (even if you are unsure)
    </p>
    <p>
        To not miss the next seminar, please subscribe to the announcement mailing list <a href="https://sympa.inria.fr/sympa/subscribe/palaisien">palaisien@inria.fr</a>.<br/>
        You can also add the calendar from the seminar to your own calendar (see below).
    </p>

	<h3>Next seminars</h3>
        {{ seminars.0.render }}
        {{ seminars.1.render }}
    <br/>
    <div width=100% style="text-align: left;">
    <iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;src=aWV1ZjdxZmQ2N3QxY2F2MWNsMnBvN3U2ajRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23B39DDB&amp;showTitle=1&amp;mode=MONTH&amp;showNav=1&amp;showTabs=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;showDate=1&amp;title=Seminar%20Shared%20Calendar" style="border-width:0" style="width:100%;" width="600" height="300" frameborder="0" scrolling="no"></iframe></div>

    <h3>Scientific Committee</h3>
    <p>
        The program and the organization of this seminar is driven by a scientific committee composed of members of the different laboratories in Saclay. The members of the committee are currently:
    </p>
    <ul>
        <li><a href="https://www.math.u-psud.fr/~arlot/">
            Arlot Sylvain</a> (LMO, Université Paris-Sud)</li>
        <li><a href="http://www.math.uni-potsdam.de/~blanchard/">
            Blanchard Gilles</a> (LMO, Université Paris-Sud)</li>
        <li><a href="https://scholar.google.fr/citations?user=IFkrCzYAAAAJ&hl=en">
            Brault Romain</a> (ThereSIS, Thales)</li>
        <li><a href="https://vebrunel.wordpress.com/">
            Brunel Victor-Emmanuel</a> (CREST, ENSAE)</li>
        <li><a href="https://jchiquet.github.io">
            Chiquet Julien</a> (MIA, Agro Paris)</li>
        <li><a href="http://www.cmap.polytechnique.fr/~aymeric.dieuleveut/">
            Dieuleveut Aymeric</a> (CMAP, Ecole polytechnique)</li>
        <li><a href="https://www.math.u-psud.fr/~goude/about.html">
            Goude Yannig</a> (R&D, EDF)</li>
        <li><a href="http://kalogeratos.com/psite/">
            Kalogeratos Argyris</a> (CMLA, ENS Paris-Saclay)</li>
	<li><a href="http://genome.jouy.inra.fr/~ekuhn/">
	    Kuhn Estelle</a> (MaIAGE, Inra)</li>
        <li><a href="https://tommoral.github.io">
            Moreau Thomas</a> (Parietal, Inria)</li>
        <li><a href="https://perso.telecom-paristech.fr/mozharovskyi/">
            Mozharovskyi Pavlo</a> (LTCI, Telecom Paris)</li>
        <li><a href="http://fredericpascal.blogspot.com/">
            Pascal Frederic</a> (L2S, CentraleSupelec)</li>
        <li><a href="https://sites.google.com/site/gquercini/">
            Quercini Gianluca</a> (LRI, CentraleSupelec)</li>
        <li><a href="https://myriamtami.github.io/">
            Tami Myriam</a> (MICS, CentraleSupelec)</li>
    </ul>

    <h3>Funding</h3>
    <p>
        This seminar is made possible with financial support of the ENSAE and DataIA.
    </p>
    <div>
        <img class="logo_funding"
         src="{% static 'programme/images/logo_dataia_bleu.png' %}" />
        <img class="logo_funding" style="height: 15em;"
         src="{% static 'programme/images/logo_ensae_black.png' %}" />
    </div>
</div><!-- .entry-content -->

</article><!-- #post -->
