<article class="inner-text">
    <header class="entry-header">
        <h1 class="entry-title">About the seminar</h1>
    </header>

    <div class="entry-content">
	<p>
        The aim of this seminar is to create some link between the different laboratories in Saclay doing applied Maths, Statistics and Machine Learning. The Seminar is organized every first Tuesday of the month with 2 presentations followed by a small pot.
	</p>

	<h3>Next seminars</h3>
        {{ talks.0.render }}
        {{ talks.1.render }}
    </div><!-- .entry-content -->
</article><!-- #post -->
